<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPUD</title>
    <link type="text/css" rel="stylesheet" href="main.css" />
    <link rel="icon" href="spud.png" />
  </head>

  <body>
    <h1>SPUD</h1>
    <h3>Search: </h3>
    <form action="." method="POST">
      <input type = "text" name="query">
      <input type = "submit" name = "query" value = "Submit">
    </form>

    <h2>Results</h2>
    {% if results #}
    {% for result in results %}

    <h3>{{result}}</h3>
    {% endfor %}
    {% else %}
    <h3>Empty result: No hit</h3>
    {% if %}

    </body>

</html>
